.content{	
	color:#fff;
	height:auto;
	min-height:100%;
	padding-bottom:15px;
}
.cshead{
	width:100%;
	height:10%;
	margin-top:60px;
	font-size:55px;
	text-align:center;
	position:relative;
	z-index:2;
}
.lesson{
	margin-right:70px;
	margin-top:50px;
	height:60px;
	width:auto;
	transition:width 0.5s ease-out;
	-webkit-transition:width 0.5s ease-in-out;
	-moz-transition:width 0.5s ease-in-out;
	-o-transition:width 0.5s ease-in-out;
	padding-right:15px;
	position:relative;
	z-index:2;
}
.shown{
	width:30%;
	height:105%;
	color:#fff;
	float:right;
	font-size:40px;
	font-weight:bold;
	background:#1c43af;
	padding:5px;
	border:none;
	cursor:pointer;
	border-radius:0 20px 20px 0;
}
.shown:hover{background:#2c43cf;}
.shown:active{font-size:35px;}
.lesson-description{
	float:right;
	height:90%;
	max-height:90%;
	min-height:90%;
	font-size:34px;
	width:60%;
	display:none;
	text-align:center;
	background:#0e105e;
	padding-top:5px;
	padding-left:25px;
	overflow:hidden;
	border-radius:20px 0 0 20px;
}
.bgin{
	position:fixed;
	left:60px;
	top:90px;
	width:40%;
	z-index:1;
}
@media screen and (max-width:1250px){
	.cshead{font-size:47px;}
	.lesson{
		margin-right:50px;
		margin-top:40px;
	}
	.shown{font-size:36px}
	.shown:active{font-size:32px;}
	.lesson-description{font-size:29px;}
}
@media screen and (max-width:1020px){
	.cshead{font-size:42px;}
	.lesson{
		margin-right:40px;
		margin-top:33px;
	}
	.shown{font-size:30px}
	.shown:active{font-size:27px;}
	.lesson-description{
		font-size:23px;
		padding-top:10px;
	}
}
@media screen and (max-width:880px){
	.cshead{font-size:37px;}
	.lesson{
		margin-right:35px;
		margin-top:29px;
	}
	.shown{font-size:25px}
	.shown:active{font-size:22px;}
	.lesson-description{
		font-size:20px;
		padding-top:10px;
	}
}
@media screen and (max-width:710px){
	.cshead{font-size:32px;}
	.lesson{
		margin-right:30px;
		margin-top:24px;
		height:47px;
	}
	.shown{
		font-size:22px;
		height:110%;
	}
	.shown:active{font-size:18px;}
	.lesson-description{
		font-size:18px;
		padding-top:10px;
	}
}
@media screen and (max-width:640px){
	.lesson{
		margin-right:0px;
		margin-top:20px;
		height:42px;
	}
	.shown{font-size:18px;}
	.shown:active{font-size:17px;}
	.lesson-description{
		font-size:15px;
		padding-top:8px;
	}
}
@media screen and (max-width:520px){
	.lesson{height:60px;}
	.shown{height:105%;}
}
@media screen and (max-width:420px){
	.lesson{width:90%;}
	.shown{
		width:25%;
		font-size:17px;
	}
	.shown:active{font-size:16px;}
	.lesson-description{font-size:14px;}
}
@media screen and (max-width:380px){
	.cshead{margin-top:10px;}
	.bgin{display:none;}
	.lesson{margin-top:80px;}
	.shown{
		font-size:18px;
		width:100%;
		border-radius:20px 20px 0 0;
	}
	.shown:active{font-size:17px;}
	.lesson-description{
		font-size:15px;
		width:91%;
		border-radius:0 0 20px 20px;
		min-width:100%;
		min-height:0;
		padding-left:0;
	}
}