/* courses */
.course{
	float:right;
	width:50%;
	height:100%;
	color:#fff;
	font-size:50px;
	font-family:cocon;
	background:#000044;
	opacity:0.3;
	text-align:center;
	border:none;
	cursor:pointer;
}
.course:hover{
	opacity:0.8;
}
/* center line */
.bord{
	position:fixed;
	right:50%;
	width:5px;
	height:100%;
	background:#254fe8;
	z-index:99999;
}
@media screen and (max-width: 460px){
	.course{
		font-size:35px;
	}
}