.course{
	float:right;
	width:50%;
	height:100%;
	color:#fff;
	font-family:cocon;
	background:transparent;
	opacity:0.7;
	text-align:center;
	border:none;
	cursor:pointer;
}
.course:hover{opacity:0.8;}
.cologo{
	width:200px;
	height:auto;
	margin-top:17%;
	transition:width 0.5s,height 0.5s;
}
.codes{
	font-size:0;
	transition:font-size 0.5s;
}
.course:hover .codes{font-size:35px;}
.course:hover .cologo{width:150px;}
.bord{
	position:fixed;
	right:50%;
	width:5px;
	height:100%;
	background:#254fe8;
	z-index:99999;
}
@media screen and (max-width: 980px){
	.cologo{width:145px;}
	.course:hover .cologo{width:115px;}
	.course{
		overflow-y: auto;
		min-height: 350px;
	}
}
@media screen and (max-width: 640px){
	.cologo{width:110px;}
	.course:hover .cologo{width:90px;}
	.course:hover .codes{font-size:25px}
}
@media screen and (max-width: 580px){
	.cologo{
		width:100px;
		margin-top:0;
	}
	.course:hover .cologo{width:100px;}
	.codes{font-size:15px;}
	.course:hover .codes{font-size:15px;}
}
@media screen and (max-width: 460px){
	.cologo{width:70px;}
	.course:hover .cologo{width:70px;}
}
@media screen and (max-width: 415px){
	.bord{display:none;}
	.course{
		height:50%;
		width:100%;
		position:static;
		background:transparent;
		opacity:1;
		border-bottom:4px solid #254fe8;
		margin-top:25px;
		min-height:180px;
	}
	.cologo{
		width: 60px;
		height: auto;
		padding-bottom:20px; 
	}
}