/* courses */
.course{
	float:right;
	width:50%;
	height:100%;
	color:#fff;
	font-size:35px;
	font-family:cocon;
	background:#000044;
	opacity:0.3;
	text-align:center;
	border:none;
	cursor:pointer;
}
.course:hover{
	opacity:0.8;
}
.bord{
	position:fixed;
	right:50%;
	width:5px;
	height:100%;
	background:#254fe8;
	z-index:99999;
}
/* configure fo devices */
@media screen and (max-width: 768px) {
	.course{
		font-size:25px;
		margin-top:0;
	}
	.bord{
		width:3px;
}
@media screen and (max-width:560px) {
	.course{
		font-size:18px;
	}
}
@media screen and (max-width: 425px) {
	.course{
		font-size:17px;
	}
}
@media screen and (max-width: 250px) {
	.course{
		font-size:13px;
	}
}
@media screen and (max-width: 215px) {
	.course{
		font-size:11px;
	}
}