/* general */
@font-face{
	font-family:cocon;
	src:url('cocon-next-arabic-light.otf');
}
body{
	margin:0;
}
a{
	text-decoration:none;
	color:#fff;
}
/* navigation bar */
nav{
	position:fixed;
	right:0;
	top:0;
	width:100%;
	height:9%;
	z-index:9999999;
	overflow:hidden;
}
.page{
	font-family:cocon;
	font-size:27px;
	color:#fff;
	padding-bottom:8px;
	float:right;
	width:33.3%;
	height:100%;
	border-radius:0 0 40px 40px;
	text-align:center;
	background:#254fe8;
	border:none;
	cursor:pointer;
	overflow:hidden;
	z-index:999999999999999;
}
.page:hover{
	background:#365ff9;
}
.page:active{
	background:#5799ff;
}
.logo{
	padding:5px;
	width:65px;
	height:50px;
}
.ftbtn{
	width:15%;
	height:6.5%;
	transition:width 0.5s ease-in-out,height 0.5s ease-in-out,left 0.5s ease-in-out;
	-webkit-transition:width 0.5s ease-in-out,height 0.5s ease-in-out,left 0.5s ease-in-out;
	-o-transition:width 0.5s ease-in-out,height 0.5s ease-in-out,left 0.5s ease-in-out;
	-moz-transition:width 0.5s ease-in-out,height 0.5s ease-in-out,left 0.5s ease-in-out;
	border:none;
	border-radius:40px 40px 0 0;
	background:#254fe8;
	font-family:cocon;
	font-size:27px;
	color:#fff;
	padding-top:8px;
	position:fixed;
	bottom:0;
	left:41%;
	opacity:0.85;
	text-align:center;
	z-index:999999;
}
.ftbtn:hover{
	width:100%;
	height:45%;
	left:0;
}
.ftbtn:hover .hd{
	display:block;
}
.hd{
	display:none;
}
/* page content */
.content{
	background-image: -webkit-gradient(linear,85% 100%, 25% 100%,from(#0e103a),color-stop(0.8, #0a417a), to(#031566));
	background-image: -moz-linear-gradient(to left,#0e103a,#0a417a,#031566);
	background-image: -webkit-linear-gradient(to left,#0e103a,#0a417a,#031566);
	background-image: -o-linear-gradient(to left,#0e103a,#0a417a,#031566);
	background-color:#1c43af;
	height:100%;
	width:100%;
	overflow:auto;
	position:absolute;
	font-family:cocon;
}
/* Our Products */
#cfoot{
	position:fixed;
	left:0;
	top:0;
	width:33.3%;
	height:160px;
	text-align:center;
	color:#fff;
	background:#1c43af;
	border-radius:0 0 40px 40px;
	z-index:999999;
}
.social{
	border:none;
	background:transparent;
	cursor:pointer;
	color:#fff;
	float:right;
	margin-right:46px;
	margin-top:55px;
}
.ad{
	width:55px;
}
.ad:hover{
	width:57px;
}
