body{
	font-family:Tahoma;
}
a{
	text-decoration:none;
	color:#fff;
}
/* navigation */
nav{
	position:fixed;
	right:0;
	top:0;
	width:100%;
	height:40px;
	z-index:9999999;
}
.page{
	font-size:27px;
	color:#fff;
	padding-bottom:8px;
	float:right;
	width:33.3%;
	text-align:center;
	background:#1e40a2;
	border:none;
	border-radius:0 0 40px 40px;
	cursor:pointer;
}
.page:hover{
	background:#2f51b3;
}
.page:active{
	background:#57917f;
}
/* page content */
#content{
	position:fixed;
	right:0;
	top:0;
	background-image:url('bg.jpg');
	background-size:90% 100%;
	background-attachment:fixed;
	background-position:center center;
	background-repeat: no-repeat;
	background-color:#000;
	height:105%;
	width:100%;
}
.course{
	float:right;
	margin-top:30px;
	width:50%;
	height:95%;
	color:#fff;
	font-size:35px;
	background:#000;
	opacity:0.45;
	text-align:center;
	border:none;
	cursor:pointer;
}
.course:hover{
	opacity:0.8;
}
/* advertise */
#cfoot{
	position:fixed;
	left:0;
	margin-top:30px;
	width:33.3%;
	text-align:center;
	font-size:30px;
	color:#fff;
	background:#000;
	border-radius:40px 40px 0 0;
	z-index:999999999999999999;
}
.social{
	border:none;
	background:transparent;
	cursor:pointer;
	color:#fff;
}
.ad{
	width:50px;
}
/* configure for devices */
@media screen and (max-width: 768px) {
	nav{
		height:30px;
	}
	.page{
		font-size:20px;
	}
	#content{
		top:0;
	}
	.course{
		font-size:25px;
		margin-top:0;
	}
	#cfoot{
		margin-top:25px;
		font-size:18px;
	}
	.ad{
		width:37px;
	}
}
@media screen and (max-width:560px) {
	nav{
		height:25px;
	}
	.page{
		font-size:18px;
	}
	.course{
		font-size:18px;
	}
	#cfoot{
		margin-top:20px;
		font-size:15px;
	}
	.ad{
		width:30px;
	}
}
@media screen and (max-width: 425px) {
	nav{
		height:24px;
	}
	.page{
		font-size:14px;
	}
	#content{
		background-image:url('mob-bg.jpg');
		background-size:350px 500px;
	}
	.course{
		font-size:17px;
	}
	#cfoot{
		margin-top:19px;
		font-size:14px;
	}
	.ad{
		width:25px;
	}
}
@media screen and (max-width: 250px) {
	nav{
		height:20px;
	}
	.page{
		font-size:12px;
	}
	.course{
		font-size:13px;
	}
	#cfoot{
		margin-top:17px;
		font-size:12px;
	}
	.social{
		font-size:10px;
	}
	.ad{
		width:20px;
	}
}
@media screen and (max-width: 215px) {
	nav{
		height:18px;
	}
	.page{
		font-size:9px;
	}
	.course{
		font-size:11px;
	}
	#cfoot{
		margin-top:15px;
		font-size:11px;
	}
	.social{
		font-size:8px;
	}
	.ad{
		width:17px;
	}
}