@font-face{
	font-family:cocon;
	src:url('cocon-next-arabic-light.otf');
}
body{
	margin:0;
	padding:0;
	background:#0e103a;
}
a{
	text-decoration:none;
	color:#fff;
}
.mob{display: none;}
nav{
	position:fixed;
	right:0;
	top:0;
	width:100%;
	height:15%;
	max-height:65px;
	min-height:45px;
	z-index:9999999;
	overflow:hidden;
}
.page{
	font-family:cocon;
	font-size:27px;
	color:#fff;
	padding-bottom:8px;
	float:right;
	width:33.3%;
	height:100%;
	border-radius:0 0 40px 40px;
	text-align:center;
	background:#254fe8;
	border:none;
	cursor:pointer;
	overflow:hidden;
	transition:background 0.5s;
	-o-transition:background 0.5s;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
}
.page:hover{background:#365ff9;}
.page:active{background:#5799ff;}
.logo{
	padding:5px;
	height:50px;
}
.content{
	height:100%;
	min-height:100%;
	width:100%;
	position:absolute;
	font-family:cocon;
	background-image: -webkit-gradient(linear,85% 100%, 25% 100%,from(#0e103a),color-stop(0.8, #0a417a), to(#031566));
	background-image: -moz-linear-gradient(to left,#0e103a,#1b528b);
	background-image: -o-linear-gradient(to left,#0e103a,#1b528b);
	background-image: -ms-linear-gradient(to left,#0e103a,#1b528b);
	background-image: linear-gradient(to left,#0e103a,#1b528b);
	background-color:#1e2166;
}
#cfoot{
	position:fixed;
	left:0;
	top:0;
	width:33.3%;
	height:29%;
	text-align:center;
	color:#fff;
	background:#1c43af;
	border-radius:0 0 40px 40px;
	z-index:999999;
	overflow:hidden;
}
#cans{
	display:none;
	font-size:45px;
	padding-right: 15px;
	float:right;
	position:absolute;
	cursor:pointer;
}
.social{
	border:none;
	background:transparent;
	cursor:pointer;
	color:#fff;
	float:right;
	margin-right:10%;
	margin-top:55px;
}
.ad{
	width:55px;
	transition:width 0.5s;
	-o-transition:width 0.5s;
	-webkit-transition:width 0.5s;
	-moz-transition:width 0.5s;
}
.ad:hover{width:58px;}
@media screen and (max-width: 1220px){
	#cfoot{height: 27%;}
	.ad{width:48px;}
	.ad:hover{width:50px;}
}
@media screen and (max-width: 1080px){
	#cfoot{height: 26%;}
	.ad{width:42px;}
	.ad:hover{width:43px;}
}
@media screen and (max-width: 930px){
	#cfoot{height: 25%;}
	.ad{width:38px;}
	.ad:hover{width:39px;}
}
@media screen and (max-width: 820px){
	#cfoot{height: 24%;}
	.ad{width:35px;}
	.ad:hover{width:36px;}
}
@media screen and (max-width: 710px){
	#cfoot{min-height: 120px;}
	.social{margin-right:6%;}
}
@media screen and (max-width: 585px){
	.social{margin-right:3%;}
	.ad{width:30px;}
	.ad:hover{width:31px;}
}
@media screen and (max-width: 415px){
	nav{height:8%;}
	.content{height:auto;}
	.page{
		font-size:23px;
		border-radius:0 0 20px 20px;
	}
	#cfoot{
		height:20%;
		border-radius:0 0 20px 20px;
	}
	.social{
		margin-right:2%;
		margin-top:40px;
	}
	.ad{width:27px;}
	.ad:hover{width:28px;}
}
@media screen and (max-width: 380px){
	.mob{
		height:200px;
		padding-bottom: 5px;
		display:block;
	}
	nav{position:static;}
	.logo{width:60%;}
	.page{
		border-radius:0;
		height:60px;
	}
	#cfoot{
		top:25%;
		width:99%;
		height:45%;
		border-radius:25px;
	}
	.social{
		margin-top:30px;
		margin-right:10%;
	}
	.ad{
		height:50px;
		width: auto;
	}
	.ad:hover{width:auto;}
	#cans{display:block;}
}
@media screen and (max-width: 340px){
	.social{margin-top:20px;}
	.ad{height:45px;}
	.logo{width:70%;}
}
@media screen and (max-width: 290px){
	.mob{height:150px;}
	.page{font-size:16px;}
	.logo{width:80%;}
}
@media screen and (max-width: 290px){
	.logo{
		width:90%;
		padding-right:0;
		padding-top:3px;
	}
}
@media screen and (max-width: 190px){
	.logo{
		padding:0;
		width:100%;
	}
}